<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/geral.css" rel="stylesheet" type="text/css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <title>KaRa Doa</title>

    <link rel="apple-touch-icon" sizes="180x180" href="img/Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/Favicon/favicon-16x16.png">
    <link rel="manifest" href="img/Favicon/site.webmanifest">
    <link rel="mask-icon" href="img/Favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

    <container class="Home">
        
        <header>
            <div class="horizontal cabecalho">
                <img src="img/icon_perfil.svg">
                <a href="index.html"><img src="img/logo.svg"></a>
                <a href="index.html"><p>Home</p></a>
                <p>Cadastrar</p>
                <p>Entrar</p>
                <button type="button" class="criar_campanha">Criar campanha</button>
                <input type="text" name="Buscar" placeholder="   Buscar">
                <img src="img/icon_contato.svg">
            </div>
        </header>

       
        <footer class="horizontal">
            <div class="coluna">

                <div class="horizontal espaco">
                    <p>Quem somos</p>
                    <p>Criar campanha</p>
                    <p>Cadastrar</p>
                    <p>Login</p>
                    <p>Dúvidas frequentes</p>
                </div>

                <div>
                    <img src="img/linha.svg">
                </div>

                <div class="horizontal espaco">
                    <p>© 2023 Todos os direitos reservados, KaRa</p>
                </div>
            </div>
        </footer>

    </container>

</html>